<script lang="ts" setup>
import { ref } from "vue";

const type = ref(0);
const name = ref("SMILE");
function changeImg(index: number) {
  type.value = index;
  document.getElementById("btn0")!.style.backgroundColor = "white";
  document.getElementById("btn1")!.style.backgroundColor = "white";
  document.getElementById("btn2")!.style.backgroundColor = "white";
  document.getElementById("btn3")!.style.backgroundColor = "white";
  document.getElementById("btn4")!.style.backgroundColor = "white";
  document.getElementById("btn5")!.style.backgroundColor = "white";
  if (index === 0) {
    name.value = "SMILE";
    document.getElementById("btn0")!.style.backgroundColor = "yellow";
  } else if (index === 1) {
    name.value = "ANGRY";
    document.getElementById("btn1")!.style.backgroundColor = "yellow";
  } else if (index === 2) {
    name.value = "CUTE";
    document.getElementById("btn2")!.style.backgroundColor = "yellow";
  } else if (index === 3) {
    name.value = "EXITED";
    document.getElementById("btn3")!.style.backgroundColor = "yellow";
  } else if (index === 4) {
    name.value = "PAIN";
    document.getElementById("btn4")!.style.backgroundColor = "yellow";
  } else if (index === 5) {
    name.value = "SHOCKED";
    document.getElementById("btn5")!.style.backgroundColor = "yellow";
  }
}
</script>
<template>
  <v-container>
    <v-row cols:12>
      <v-col>
        <img v-if="type === 1" src="feeling_imgs\angry.png" />
        <img v-if="type === 2" src="feeling_imgs\cute.png" />
        <img v-if="type === 3" src="feeling_imgs\excited.png" />
        <img v-if="type === 4" src="feeling_imgs\pain.png" />
        <img v-if="type === 5" src="feeling_imgs\shocked.png" />
        <img v-if="type === 0" src="feeling_imgs\smile.png" />
      </v-col>
      <v-col>
        <div style="text-align: center">{{ name }}</div>
        <v-btn width="100%" class="ma-3" @click="changeImg(1)" id="btn1"
          >ANGRY</v-btn
        >
        <v-btn width="100%" class="ma-3" @click="changeImg(2)" id="btn2"
          >CUTE</v-btn
        >
        <v-btn width="100%" class="ma-3" @click="changeImg(3)" id="btn3"
          >EXITED</v-btn
        >
        <v-btn width="100%" class="ma-3" @click="changeImg(4)" id="btn4"
          >PAIN</v-btn
        >
        <v-btn width="100%" class="ma-3" @click="changeImg(5)" id="btn5"
          >SHOCKED</v-btn
        >
        <v-btn width="100%" class="ma-3" @click="changeImg(0)" id="btn0"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}
</style>
