<script lang="ts" setup>
import { computed, ref } from "vue";
interface Product {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const total = computed(() => {
  let sum = 0;
  for (const p of orderProduct.value) {
    sum += p.price;
  }
  return sum;
});

const orderProduct = ref<Product[]>([]);
function add(product: Product) {
  orderProduct.value.push(product);
}
</script>
<template>
  <v-row>
    <v-col cols="6">
      <v-container style="overflow-y: auto; height: 85vh">
        <v-row>
          <v-col v-for="item of products" :key="item.id">
            <v-card width="150px" class="text-center mx-auto">
              <v-card-title>{{ item.name }}</v-card-title>
              <v-card-text
                >{{ item.price }}
                <br />
                <v-btn @click="add(item)">ADD</v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
    <v-col cols="6">
      <v-container style="overflow-y: auto; height: 80vh">
        <v-table>
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="orderProduct.length === 0">
              <td colspan="3" class="text-center">No Date</td>
            </tr>
            <tr v-for="(product, index) of orderProduct" :key="index">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-container>
      <v-container class="text-h2"> Sum {{ total }} </v-container>
    </v-col>
  </v-row>
</template>
