<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
</script>
<template>
  <v-container>
    <div>First Component</div>
    {{ counter.count }}
  </v-container>
  <v-btn @click="counter.increment">INCREMENT</v-btn>
</template>
