<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counter = useCounterStore();
</script>
<template>
  <v-container>
    <div>Second Component</div>
    {{ counter.doubleCount }}
  </v-container>
  <v-btn @click="counter.dec">DECREASE</v-btn>
</template>
